.footer {
    bottom: 0;
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-direction: row;
    color: white;
    padding: 2rem;

} 

.footer .contact {
    margin-left: 17rem;
}

.footer .address {
    margin-left: 20rem;
}