.navBar {
    top: 0;
    position: fixed;
    background-color: rgb(16, 17, 17);
    height: 4rem;
    width: 100%;
    font-size: xx-large;
    z-index: 6;

}

.navBar .Btn .homeBtn {
    color: white;
    padding: 5rem;
}


.navBar .Btn .dropdown .icon {
    color: white;
    background-color: rgb(58, 56, 56);
    padding: 1rem;
    display: flex;
    float: right;
    border-color: black;
    margin-right: 3rem;
    margin-top: -6rem;
    border-radius: 50%;

}

.navBar .Btn .dropdown .menu {
    background-color: rgb(165, 165, 165);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navBar .Btn .dropdown .menu .font-color {
    color: black;
}

.navBar .Btn .Btn11 {
    display: flex;
    margin-top: -8.5rem;
}
.navBar .Btn .Btn11 .crtbtn {
    color: white;
    margin-left: 50rem;
    margin-top: 3rem;
    padding: 3rem;
    
}

.navBar .Btn .Btn11 .favbtn {
    color: white;
    margin-top: 3rem;
    margin-left: -3rem;
    padding: 3rem;
}

.navBar .Btn .profile1 {
    color: white;
    margin-right: 2rem;
    float: right;
}

.navBar .Btn .profile2 {
    color: white;
    padding: 1rem;
    display: flex;
    float: right;
    margin-right: 3rem;
}

.navBar .Btn .Btn11 .crtbtn .popup {
    background-color: #ff6347;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 9px;
    position: absolute;
    top: 8px;
    padding: 0.2rem;
    height: 1rem;
}

.navBar .Btn .Btn11 .favbtn .popup {
    background-color: #ff6347;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 9px;
    position: absolute;
    top: 8px;
    padding: 0.2rem;
    height: 1rem;
}
