.navBar {
    top: 0;
    position: fixed;
    background-color: rgb(70, 87, 243);
    height: 4rem;
    width: 100%;
    font-size: xx-large;

}

.navBar .Btn .homeBtn {
    color: white;
    padding: 5rem;
}


.navBar .Btn .crtbtn {
    color: white;
    margin-top: 3rem;
    margin-left: 45rem;
}

.navBar .Btn .favbtn {
    color: white;
    margin-top: 3rem;
    margin-left: 2rem;
}

.navBar .Btn .profile {
    color: white;
    padding: 2rem;
    margin-left: 8rem;
}

.navBar .Btn .crtbtn .popup {
    background-color: #ff6347;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 9px;
    position: absolute;
    top: 8px;
    padding: 0.2rem;
    height: 1rem;
}

.navBar .Btn .favbtn .popup {
    background-color: #ff6347;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 9px;
    position: absolute;
    top: 8px;
    padding: 0.2rem;
    height: 1rem;
}
